main{
    height: auto;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}

.section-1{
    width: 20%; 
}
.section-1 h1{
    color:  white;
}
.section-2{
    height: 600px;
    width: 50%;
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.section-2::-webkit-scrollbar-button {
    display: none;
}

.section-2::-webkit-scrollbar {
    width: 10px;  
}

.section-2::-webkit-scrollbar-track {
    background: #1b1b1b;
    border-radius: 5px; 
}

.section-2::-webkit-scrollbar-thumb {
    background: #363636; 
    border-radius: 5px; 
}
.novedades-populares,
.albums-populares,
.artist-populares{
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    margin-bottom: 2%;
    flex-wrap: wrap;
    cursor: pointer;

}
.section-2 .header-sections{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.section-2 .header-sections span{
    font-size: 0.7rem;
}
.section-2 img{
    height: 140px;
    width: 140px;
    object-fit: cover;
}
.section-2 .novedades,
.section-2 .albums,
.section-2 .artistas{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.artista img{
    border-radius: 50%;
}

.novedad p,
.album p,
.artista p{
    color: white;
    margin-top: 10px;
}
.novedad p:nth-child(2),
.album p:nth-child(2),
.artista p:nth-child(2){
    font-size: 0.8rem;
}
.novedad p:nth-child(3),
.album p:nth-child(3),
.artista p:nth-child(3){
    font-size: 0.7rem;
}
.novedad img,
.album img{
    border-radius: 10%;
}