main {
    height: auto;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 2%;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.cancion, .album{

    padding: 10px;
    box-shadow: 0 0 0 0.5px gray;
    border-radius: 10px;
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"],
input[type="file"] {
    background-color: #111;
    border: 1px solid #444;
    border-radius: 6px;
    padding: 10px;
    color: white;
    font-size: 0.95rem;
}

input[type="file"]::file-selector-button {
    background: #481B9A;
    border: none;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: bold;
}

.bloque-cancion {
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

#contenedor-canciones {
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #333;
    border-radius: 8px;
    background: #181818;
    padding: 10px;
    box-sizing: border-box;
}
#contenedor-canciones::-webkit-scrollbar {
    width: 10px;
    border-radius: 6px;
    background: #181818;
}

#contenedor-canciones::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: linear-gradient(180deg, #3A157F 0%, #DB3DAC 100%);
}

#contenedor-canciones::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #DB3DAC 0%, #3A157F 100%);
}


#contenedor-canciones {
    scrollbar-width: thin;
    scrollbar-color: #DB3DAC #181818;
}
.album form {
    max-width: 420px;
    width: 100%;
    margin: 0 auto;
}
input[type="file"]::file-selector-button:hover {
    background: #DB3DAC;
}

button[type="submit"] {
    background: linear-gradient(to right, #3A157F, #DB3DAC);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
}

button[type="submit"]:hover {
    background: linear-gradient(to right, #DB3DAC, #3A157F);
}

label {
    font-weight: bold;
    margin-top: 10px;
}


main p {
    margin-top: 20px;
    background: #222;
    padding: 15px;
    color: lightgreen;
    border-left: 5px solid #00c853;
    border-radius: 5px;
    font-weight: bold;
}

form .bloque-cancion {
    margin-top: 15px;
    background: #1a1a1a;
    padding: 10px;
    border-radius: 6px;
}

#nombres-canciones-container label {
    margin-top: 10px;
    font-weight: normal;
}

#nombres-canciones-container input {
    margin-bottom: 10px;
}
